result
*.ckpt
*.pt
.vscode
*.onnx
__pycache__
ocrs
Manga
Manga-translated
/models
.env
*.local
*.local.*
test/testdata
.idea
pyvenv.cfg
Scripts
Lib
include
share
.DS_Store
dev/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.history
/venv
.venv/

#/Input and Output
/input/
/input-translated/

# Benchmark results
/test/results/

# Test image materials (copyright-sensitive, user provides own)
/test/e2e-materials/
/test/e2e-materials 汉化/
/test/e2e-10img-temp/
/test/materials/

# SSL Used for running server locally
cert.pem
key.pem
github90daystoken.md
githubsshkey.md

# Personal manga input/output directories (copyright-sensitive)
/带着攻略*/
